{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ problem.id }}. {{ problem.name }} - CodeHighp
{% endblock %}

{% block body %}
<main class="fullwidth">
<p><a href="{% url 'problemsetting' %}">&laquo; back</a></p>
<pre>
Problem ID: {{ problem.internal_name }}
Problem name: {{ problem.name }}
Repository URL: {{ problem.repo_url }}
</pre>
<form method="POST" class="no-style">
    {% csrf_token %}
    <button type="submit" name="update">Update problem from git</button>
    {% if is_owner %}
    <button type="submit" name="delete">Delete problem</button>
    {% endif %}
</form>

{% if problem.error %}
<h3>Problem configuration is invalid</h3>
<pre>{{ problem.error }}</pre>
{% endif %}

<h3>Change problem name</h3>
{% crispy rename_form %}

<h3>Permissions</h3>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Access</th>
            {% if is_owner %}
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for perm in permissions %}
            <tr>
                <td>{{ perm.user.html_link }}</td>
                <td>
                    {{ perm.get_access_display }}
                </td>
                {% if is_owner %}
                <td>
                    {% if perm.access != 'OW' %}
                    <form method="POST" class="no-style">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ perm.user_id }}" />
                        <button type="submit" name="revoke">Revoke</button>
                        {% if perm.access != 'RD' %}
                            <button type="submit" name="read">Make read-only</button>
                        {% endif %}
                        {% if perm.access != 'WR' %}
                            <button type="submit" name="write">Make read-write</button>
                        {% endif %}
                    </form>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_owner %}
<h3>Add problem developer</h3>
{% crispy form %}
{% endif %}

</main>
{% endblock %}
