main {
    margin-top: 32px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    flex: 1 1 auto;
}

.fullwidth {
    width: 100%;
}

header > a.selected {
    border-bottom: 3px solid black !important;
}

.right {
    float: right;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,th {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #ddd;
}

.help-inline {
    display: block;
}

.my-card {
    border: 1px solid #ddd;
    padding: 8px;
}

.admin-tag {
    font-size: 24px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 3px;
}

a.admin-link {
    color: black;
}

a.user-link {
    text-decoration: none;
    color: black;
}

a.rated-user-link {
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}

.failed-attempt {
    background-color: #faa;
}

.successful-attempt {
    background-color: #cfc;
}

.partial-attempt {
    background-color: #fda;
}

.card {
    min-height: 120px;
}

a.upvote-button,a.downvote-button {
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    color: #666;
    outline: none;
}

a.upvote-button:hover {
    color: #a00;
}

a.upvote-button.active {
    color: #f00;
}

a.downvote-button:hover {
    color: #00a;
}

a.downvote-button.active {
    color: #00f;
}

.vote-count,.negative-vote-count {
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
}

.negative-vote-count {
    color: #666;
}

.annotation {
    color: #444;
    font-weight: lighter;
}

.children {
    margin-left: 32px;
}

.comment {
    border-left: 1px solid #888;
}

form.form-inline > div {
    display: inline-block;
}

table.compressed tbody * {
    line-height: 12px;
}

table.compressed td {
    padding-left: 8px;
    padding-right: 8px;
}

table.compressed * {
    white-space: nowrap;
}

.center {
    text-align: center;
}

tr.highlighted {
    background-color: #cef;
}
