{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<main class="fullwidth">
<h2>Registration for "{{ contest.name }}"</h2>
<pre>
By registering for this contest you agree that:

- You have read <a href="/help/rules">contest rules</a>
- You will not violate these rules
- You will not communicate with other participants about
  solutions/problems for the duration of the contest
- You will not use third party code, unless you can prove
  it was published strictly before contest's start
- You will not deliberately submit code that can interfere with
  testing process and/or hack the contest system in any way
</pre>
{% crispy form %}
</main>
{% endblock %}