{% extends 'base.html' %}
{% load static %}

{% block title %}
    Contests - CodeHighp
{% endblock %}

{% block body %}
<main class="fullwidth">
<h2>Contests</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Authors</th>
            <th>Starts</th>
            <th>Duration</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for contest in contest_list %}
        <tr>
            <td>
                <b>{{ contest.name }}</b>
                {% if contest.is_rated %}
                    <mark class="tag" title="You can gain or lose rating by participating">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
                        <line x1="18" y1="30" x2="18" y2="14"></line>
                        <line x1="12" y1="30" x2="12" y2="10"></line>
                        <line x1="6" y1="30" x2="6" y2="18"></line>
                    </svg>Rated
                    </mark>
                {% endif %}
                <br />
                {% if contest.reg %}
                    {{ contest.reg.get_status_display }}.
                {% elif contest.registration_open %}
                    <a href="{% url 'contest_register' contest.id %}">Register</a>
                {% endif %}
                {% if contest.status != contest.NOT_STARTED %}
                    <a href="{% url 'contest' contest.id %}">Enter</a>
                {% endif %}
            </td>
            <td>
                {% for author in contest.authors.all %}
                    {{ author.html_link }}<br />
                {% endfor %}
            </td>
            <td>{{ contest.start_date }}</td>
            <td>{{ contest.duration|default:"Infinite" }}</td>
            <td>{{ contest.timer|safe }}</td>
            <td>
                <span class="icon-user"></span>
                {{ contest.num_participants }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</main>
{% endblock %}
