{% if contest %}
<h2>{{ contest.name }}</h2>
<div class="row">
    <div class="card">
        {{ contest.card_timer|safe }}
    </div>

    <div class="card">
        <ul>
            <li>
                {% if request.resolver_match.url_name == 'contest' %}
                    <b>Problems</b>
                {% else %}
                    <a href="{% url 'contest' contest.id %}">Problems</a>
                {% endif %}
            </li>
            <li>
                <a href="#">Scoreboard</a>
            </li>
        {% if registration and registration.status == "OK" %}
            <li>
                {% if request.resolver_match.url_name == 'contest_runs' %}
                    <b>My runs</b>
                {% else %}
                    <a href="{% url 'contest_runs' contest.id %}">My runs</a>
                {% endif %}
            </li>
        {% endif %}
        </ul>
    </div>

    {% if registration and registration.status == "OK" %}
    <div class="card">
        <h3>Your score</h3>
        <p>
            {{ registration.score }}
            <small>
                / {{ registration.score2 }}
            </small>
        </p>
    </div>
    {% else %}
    <div class="card warning">
        <h3>Observer mode</h3>
        <p>
            Only registered participants can submit solutions.
            {% if not registration and contest.registration_open %}
                <a href="{% url 'contest_register' contest.id %}">Register?</a>
            {% endif %}
        </p>
    </div>
    {% endif %}
</div>
<hr />
{% endif %}