{% extends 'base.html' %}
{% load markdown %}
{% load crispy_forms_tags %}
{% load compete %}

{% block title %}
    {{ problem.id }}. {{ problem.name }} - CodeHighp
{% endblock %}

{% block body %}
<main class="fullwidth">
    <h2>{{ problem.id }}. {{ problem.name }}</h2>
<pre>{{ problem.humanized_limits|safe }}</pre>

{{ problem.statement|markdown }}
<hr />

{% if user.is_authenticated %}
    {% crispy form %}
    <hr />
    {% if runs %}
        <h3>
            <a href="{% url 'problem_runs' problem.id %}">Your runs</a>
        </h3>
        {% run_list runs %}
        {% if runs_truncated %}
            <em>
                <a href="{% url 'problem_runs' problem.id %}">Show all runs</a>
            </em>
        {% endif %}
    {% else %}
        <em>You don't have any attempts on this problem.</em>
    {% endif %}
{% else %}
    <em>
        <a href="#">Log in</a> to submit solutions
    </em>
{% endif %}
</main>
{% endblock %}