{% extends 'base.html' %}

{% block title %}
    Problems - CodeHighp
{% endblock %}

{% block body %}
<main class="fullwidth">
<h2>Archive</h2>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th class="fullwidth">Name</th>
        </tr>
    </thead>
    <tbody>
    {% for problem in problem_list %}
        <tr class="{{ problem.css_class }}">
            <td>{{ problem.id }}</td>
            <td class="fullwidth">
                <a href="{% url 'problem' problem.pk %}">
                    {{ problem.name }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</main>
{% endblock %}
