{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load compete %}

{% block title %}
    {{ problem.full_name }} - CodeHighp
{% endblock %}

{% block body %}
<main class="fullwidth">
{% contest_info %}
    <h2>{{ problem.full_name }}</h2>
<pre>{{ problem.humanized_limits|safe }}</pre>

{{ problem.statement|safe }}
{% if samples %}
    <hr />
    {% for sample in samples %}
        <h3>
            Sample test #{{ forloop.counter0 }}
        </h3>
        {{ sample.instr|safe }}
        <p>Explanation for humans:</p>
        <div class="row">
            <div class="col-md-6">
                <h4>Input</h4>
                <pre>{{ sample.inp }}</pre>
            </div>
            <div class="col-md-6">
                <h4>Answer</h4>
                <pre>{{ sample.ans }}</pre>
            </div>
        </div>
    {% endfor %}
{% endif %}
<hr />

{% if user.is_authenticated %}
{% if can_submit %}
    {% crispy form %}
    <hr />
{% else %}
    <p><em>You need to register for the contest to submit solutions</em></p>
{% endif %}
    {% if runs %}
        <h3>
            <a href="{% url 'problem_runs' problem.id %}">Your runs</a>
        </h3>
        {% run_list runs %}
        {% if runs_truncated %}
            <em>
                <a href="{% url 'problem_runs' problem.id %}">Show all runs</a>
            </em>
        {% endif %}
    {% endif %}
    {% if not runs and can_submit %}
        <p><em>You don't have any attempts on this problem.</em></p>
    {% endif %}
{% else %}
    <p><em>
        <a href="{% url 'login' %}">Log in</a> to submit solutions
    </em></p>
{% endif %}
</main>
{% endblock %}