{% extends 'base.html' %}
{% load compete %}

{% block title %}
    Run #{{ run.id }} - CodeHighp
{% endblock %}

{% block body %}
<main class="fullwidth">
    {% run_list runs %}
    <hr />
    <h2>Run #{{ run.id }}</h2>

    {% if src %}
        <h4>Source code</h4>
        <pre>{{ src }}</pre>
    {% endif %}

    {% if compile_log %}
        <h4>Compilation log</h4>
        <pre>{{ compile_log }}</pre>
    {% endif %}

    {% for group in tests %}
        <h4>Group #{{ forloop.counter0 }} [Score = {{ group.score }}]</h4>
        {% for test in group.tests %}
            <b>Test #{{ forloop.counter0 }}</b><br />
            <pre>
Time used: {{ test.cpu }} {% if flavor == 'vm' %}cycles{% else %}ms{% endif %}
Memory used: {{ test.mem }} {% if flavor == 'vm' %}cells{% else %}KiB{% endif %}
Input: {{ test.input }}
Output: {{ test.output }}
Answer: {{ test.answer }}
Verdict: {{ test.verdict }}
Exit code: {{ test.exitcode }}
</pre>
        {% endfor %}
    {% endfor %}
</main>
{% endblock %}