<table class="compressed">
    <thead>
        <tr>
            <th>#</th>
            <th>Who</th>
            <th>Score</th>
            {% for prob in problems %}
                <th>
                    <a href="{% url 'problem' prob.id %}">{{ prob.short_name }}</a><br />
                    <small>{{ prob.score }}</small>
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}{{ row.render_to_html|safe }}{% endfor %}
    </tbody>
</table>
