{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}

{% block title %}
    User '{{ customuser.username }}' - CodeHighp
{% endblock %}

{% block scripts %}
{% if customuser.is_rated %}
<script src="{% static 'chart.js/dist/Chart.bundle.min.js' %}"></script>
<script type="text/javascript">
var ctx = document.getElementById('rating-changes').getContext('2d');
var originalLineDraw = Chart.controllers.line.prototype.draw;
var ranks = {{ ranks|safe }};
Chart.helpers.extend(Chart.controllers.line.prototype, {
    draw: function() {
        var chart = this.chart;
        var ctx = chart.chart.ctx;

        for (var i = 0; i < ranks.length; ++i) {
            var yRangeBegin = (i === 0) ? -99999 : ranks[i - 1][1];
            var yRangeEnd = ranks[i][1];

            var xaxis = chart.scales['x-axis-0'];
            var yaxis = chart.scales['y-axis-0'];

            if ((yRangeEnd < yaxis.start) || (yRangeBegin > yaxis.end)) continue;

            yRangeBegin = Math.max(yRangeBegin, yaxis.start);
            yRangeEnd = Math.min(yRangeEnd, yaxis.end);

            var yRangeBeginPixel = yaxis.getPixelForValue(yRangeBegin);
            var yRangeEndPixel = yaxis.getPixelForValue(yRangeEnd);

            ctx.save();

            ctx.fillStyle = ranks[i][2] + '30';
            ctx.fillRect(xaxis.left, Math.min(yRangeBeginPixel, yRangeEndPixel), xaxis.right - xaxis.left, Math.max(yRangeBeginPixel, yRangeEndPixel) - Math.min(yRangeBeginPixel, yRangeEndPixel));
            ctx.restore();
        }
        originalLineDraw.apply(this, arguments);
}});
var contestNames = {{ contest_names|safe }};
var ratingChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'Rating of {{ customuser.username }}',
            data: {{ data|safe }},
            fill: false,
            borderColor: '#777',
            backgroundColor: {{ color|safe }},
            borderWidth: 3,
            lineTension: 0
        }]
    },
    options: {
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                    minUnit: 'day',
                    round: 'day'
                }
            }],
            yAxes: [{
                ticks: {
                    suggestedMin: {{ min }},
                    suggestedMax: {{ max }}
                }
            }]
        },
        aspectRatio: 3,
        tooltips: {
            callbacks: {
                label: function(x) {
                    return 'Rating: ' + x.yLabel;
                },
                title: function(x) {
                    return contestNames[x[0].index];
                }
            },
            labels: {
                boxWidth: 0
            }
        },
        legend: {
            labels: {
                boxWidth: 0
            }
        }
    }
});
{% endif %}
</script>
{% endblock %}

{% block body %}
<main class="fullwidth">
    <div class="my-card">
        <h2>
            {% if customuser.is_staff %}
                <span class="tag" title="Administrator">#</span>
            {% endif %}
            {{ customuser.username }}
        </h2>

        <p>
            {% if customuser.is_rated %}
                <b style="color: {{ customuser.color }}">{{ customuser.rank }}</b> with rating {{ customuser.rating }}
            {% else %}
                <b>Unrated</b>
            {% endif %}
        </p>

        <p>{{ customuser.get_full_name }}</p>
        {% if customuser.country %}
            <p>
            <span class="icon-location"></span>
            {{ customuser.country.name }}
            </p>
        {% endif %}
        {% if customuser.bio %}
        <p style="white-space: nowrap; font-style: italic;">{{ customuser.bio }}</p>
        {% endif %}
        <p>
            Member since {{ customuser.date_joined|naturalday }}
        </p>
        <p>
            {% if customuser.is_online %}
                <b>Online</b>
            {% elif customuser.last_online %}
                Last login: {{ customuser.last_online|naturaltime }}
            {% else %}
                Never logged in
            {% endif %}
        </p>

    {% if customuser.is_rated %}
        <div class="fullwidth">
            <canvas id="rating-changes" style="border: 1px solid black"></canvas>
        </div>
    {% endif %}

        {% if user.id == customuser.id %}
            <hr />
            <a href="{% url 'profile_edit' %}" class="button">Edit profile</a>
            <a href="{% url 'password_change' %}" class="button">Change password</a>
        {% endif %}
    </div>
</main>
{% endblock %}
